@charset "UTF-8";

#pokedex-white-bg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container{
    position: relative;
    background-color: lightgray;
    height: 210px;
    width: 200px;
    border-radius: 45%;
    margin-right: 2vw;
}
.profile-icon{
    position: absolute;
    width: 70%;
    top: 15%;
    left: 15%;
}
.profile-gear-icon{
    position: absolute;
    width: 30px;
    bottom: 0;
    right: 10%;
}

.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-top: 10vh;*/
}
.btn-container > div{
    position: relative;
}
.info-input-btn{
	color: black;
	font-size: 10pt;
    width: 25vw;
    height: 40px;
    line-height: 40px;
    background-color: lightgray;
    border-radius: 1.5vw;
    border: transparent;
    margin-bottom: 10px;
    padding-left: 6vw;
}
.user-icon {
    position: absolute;
    width: 20px;
    left: 2vw;
    margin-top: 1vh;
}
.confirm-btn{
    width: 25vw;
    height: 40px;
    line-height: 40px;
    background-color: gray;
    text-align: center;
    border-radius: 1.5vw;
    border: transparent;
    color: white;
    cursor: pointer;
}
