@charset "UTF-8";

#pokedex-white-bg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container{
	position: relative;
    background-color: lightgray;
    height: 210px;
    width: 200px;
    border-radius: 45%;
    margin-right: 2vw;
}
.profile-icon{
    position: absolute;
    width: 70%;
    top: 15%;
    left: 15%;
}

.btn-container{
    align-items: center;
    justify-content: center;
}
.btn-container > div{
    position: relative;
    color: gray;
    line-height: 40px;
}
.info-input-btn{
	width: 25vw;
    height: 40px;
    background-color: lightgray;
    border-radius: 1.5vw;
    border: transparent;
    margin-bottom: 10px;
    padding-left: 6vw;
	overflow: hidden;
}
.user-icon {
    position: absolute;
    width: 20px;
    left: 2vw;
    margin-top: 1vh;
}

.confirm-btn-container{
    display: flex;
    justify-content: space-between;
}
.confirm-btn{
    width: 12vw;
    height: 40px;
    line-height: 40px;
    background-color: gray;
    text-align: center;
    border-radius: 1.5vw;
    border: transparent;
    color: white;
    cursor: pointer;
}
