@charset "UTF-8";
#r-accounts{
	display: flex;
	text-align: center;
	color: black;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
}

.r-account:nth-child(1){
	width: 153px;
	height: 168.68px;
	left: 823px;
	top: 358px;
	background: #D9D9D9;
	border-radius: 100.5px;
	margin-top: 50px;
	margin-left: 60px;
	margin-right: 20px;
}

#r-account-img{
	margin-top: 3px;
	margin-left: -3px;
	width: 100%;
}

.r-account-name{
	display: flex;
	margin-top: 120px;
}

.r-account:nth-child(2){
	margin-left: 60px;
	margin-top: 110px;
	color: #C54431;
}

.r-account:nth-child(3){
	margin-top: 110px;
}

.r-account:nth-child(4){
	margin-top: 110px;
}
.r-account:nth-child(5){
	margin-left: 10px;
	margin-top: 110px;
	color: #C54431;
}
.r-account:nth-child(6){
	margin-top: 110px;
}

/* 스크롤 */
.scrollable {
  height: 18vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: auto;
  margin-top: 12vh;
}

::-webkit-scrollbar {
  width: 5px; /*스크롤바의 너비*/
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.5); /*스크롤바의 색상*/
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /*스크롤바 트랙 색상*/
}

/* 띠부씰 */

#r-pokemons{
	height: 150px;
	width: 110px;
	left: 0px;
	top: 0px;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 25px;
	border-radius: 20px;
	padding: 11px 5px 11px 5px;
	border: 1px solid #787878;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
	position: relative;
}

#r-pokemon{
	width: 100px;
	height: 128px;
	order: 0;
}

#r-pokemon-no {
	position: absolute;
	width: 36px;
	height: 15px;
	margin-left: calc(50% - 32px/2 - 34px);
	top: calc(50% - 13px/2 - 56.5px);
	background: #000000;
	border-radius: 10px;
}

.r-no {
	width: 25px;
	height: 12px;
	left: 16px;
	top: 13px;
	margin-left: 11px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;	
}

#r-pokemon-name {
	width: 91px;
	height: 15px;
	left: calc(50% - 91px/2 + 0.5px);
	top: calc(50% - 15px/2 - 56.5px);
	margin-left: 4px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.r-name{
	height: 14px;
	width: 50px;
	margin-left: 36px;
	top: 12px;
	border-radius: nullpx;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	color: #FFFFFF;
}
.r-pokemon-img{
	width: 100px;
}
#r-pokemon-bottom{
	display: flex;
	height: 14px;
	width: 98px;
}
.r-pokemon-ball{
	width: 10px;
	height: 10px;
	margin-left: 14px;
	margin-top: -8px;
}

.r-pokemon-maker{
	width: 49px;
	height: 14px;
	left: 37px;
	top: 125px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 10px;
	line-height: 14px;
	margin-left: 5px;
	text-align: center;
	color: #000000;
}
