@charset "UTF-8";

#pokedex-wrapper {
  position: relative;
  width: 100%;
  height: 83vh;
  border-radius: 100px;
  margin-top: 8.5vh;
}

#pokedex-red-frame {
  position: absolute;
  background-color: #c54431;
  width: 100%;
  height: 83vh;
  border-radius: 100px;
}

#pokedex-circles {
  height: 10vh;
  display: flex;
  align-items: center;
}

#pokedex-circles > img {
  position: absolute;
  margin-left: 5vw;
  width: 13%;
}

#pokedex-blue-shadow {
  box-sizing: border-box;
  position: absolute;
  margin: 0 auto;
  right: 2.4vw;
  bottom: 3vh;
  background-color: #9bc2fd;
  width: 94%;
  height: 70vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

#pokedex-blue-frame {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 98%;
  height: 68vh;
  padding: 1.5vw;
  background: #c1daff;
  background-image: url(../img/pokedex-bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

#pokedex-title-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: 8%;
}

.pokedex-title-txt {
  margin-top: 40%;
  font-size: 3vw;
  font-weight: 800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
}

#poke-spot-icon {
  width: 10vw;
  margin-top: 70%;
}

#pokedex-white-bg {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 68vh;
  padding: 1.5vw;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: 2.25vh;
}
