@charset "UTF-8";
body {

	height:100vh;
	position:relative;
}
#detailimg{
	border-radius:50%;
	border:solid white 3px;
	height:27vh;
	width:27vh;
	position:absolute;
	left:55%;
	top:12%;
	background-color:rgb(255,255,255, 0.5);
}
#pokeimg{
	position:absolute;
	width: 26vh;
	left:55.5%;
	top:13.3%;
	z-index:1;
	
}
#content1{
	margin-top:5%;
	display:flex;
	margin-bottom:1%;
	margin-left:10%;
	
}
#p_numName{
	color:gray;
	font-size:20pt;
	font-weight:bold;
}
#p_typeImgs{
	display:flex;
	align-items:flex-end;
}
.type_img{
	width:4vh;
	height:4vh;
	margin-left:0.5vw;
	
}
#mainpage{
	border-radius: 50px;
	border: 3px solid white;
	background-color:rgb(255,255,255, 0.8);
	width: 50vw;
	height: 50vh;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-45%);
	
}
#content2{
	
	justify-content:space-between;
	display:flex;
	height:4vh;
	padding-left:10%;
	padding-right:10%;
	
}
.p_info_column{
	background-color:white;
	border-radius:7px;
	border-style: none;
	width:25%;
	color:gray;
	font-weight:bold;
	font-size:11pt;
	text-align:center;
	padding-top:1.1%;
}
#content3{
	justify-content:space-between;
	display:flex;
	margin-bottom:2vh;
	margin-top:2vh;
	height:2vh;
	padding-left:10%;
	padding-right:10%;
	
}
.p_info_column2{
	width:25%;
	text-align:center;
	font-size:11pt;
	font-weight:800;
	color:gray;
}
#content4{
	background-color:rgba(0,0,0,0.15);
	border-radius : 8px;
	box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
	margin-bottom:10vh;
	height:10%;
	width:80%;
	margin:0 auto;
	margin-bottom:5vh;
}
.p_des{
	color:black;
	font-size:11pt;
	padding-left:0.5vw;
	padding-right:0.5vw;
	padding-top:3pt;
	padding-bottom:3pt;
	word-break:break-all;
	font-weight:bold;
}
#content5{
	background-color:rgba(0,0,0,0.1);
	border-radius : 10px;
	box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
	height:10vh;
	width:80%;
	display:flex;
	margin:0 auto;
	justify-content:space-around;
}
.p_img {
	width:5vw;
}
