@charset "UTF-8";
@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.mainDescription {
  font-family: "DungGeunMo";
  font-size: 15pt;
  line-height: 2.1;
  text-align: center;
}
#followOutput {
  border: none;
  background-color: transparent;
  font-family: "DungGeunMo";
  font-size: 1.2em;
  margin-top: 3%;
  cursor: pointer;
}
#followOutput:hover {
  font-size: 1.5em;
}