@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.quiz-Container {
  height: 70vh;
  width: 74.7vw;
  top: 290.9999694824219px;
  border-radius: 50px;
  border: 3px solid black; 
  display: flex;
}
.quiz-LeftBlank{
  height: 71vh;
  width: 20vw;
}

.quiz-RightBlank{
  height: 71vh;
  width: 20vw;
}
.quiz-Center {
  height: 71vh;
  width: 48vw;
  /* border: 1px solid red; */
}
.center-Up {
  height: 46vh;
  width: 47vw;
  /* border: 3px solid rgb(120, 120, 38); */
  display: flex;
/*   border: 2px solid black; */
  border-bottom: none;
}

.cetner-Down {
  height: 23vh;
  width: 48vw;
  /* border: 3px solid rgb(120, 120, 38); */
  display: flex;
}

.blank-Space {
  height: 23.6vh;
  width: 22vw;
  border: 2px solid black;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.blank-SpaceIn {
  height: 21vh;
  width: 21vw;
  border-top: 5px solid black;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-radius: 5%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#poketball{
	width: 10vw;
	background-color: transparent;
}
.inputName{
	width: 5vw;
	position: absolute;
	top: 44%;
	left: 30%;
	transform : translate (-50% ,-50%);
}
#userInputName{
	border-radius: 5%;
	width: 163%;
	}
.btn-Four {
  height: 23.6vh;
  width: 25vw;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
button {
  font-family: "DungGeunMo";
  font-size : 2.3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button:hover {
  font-size : 2.5em;
}
.btn-Four-In {
  height: 21vh;
  width: 24vw;
  border-top: 5px solid black;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5%;
  align-items: center;
}
.fightPokemon {
  height: 21vh;
  width: 12vw;
  /* border: 3px solid black; */

}

.itemQuit {
  height: 21vh;
  width: 12vw;
  /* border: 3px solid red; */
}
.fight-Btn {
  height: 10.5vh;
  width: 12vw;
  /* border: 3px solid skyblue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.poke-Btn {
  height: 10.5vh;
  width: 12vw;
  /* border: 3px solid skyblue; */
    display: flex;
  align-items: center;
  justify-content: center;
}
.items-Btn {
  height: 10.5vh;
  width: 12vw;
  /* border: 3px solid skyblue; */
    display: flex;
  align-items: center;
  justify-content: center;
}
.quit-Btn {
  height: 10.5vh;
  width: 12vw;
  /* border: 3px solid skyblue; */
   display: flex;
  align-items: center;
  justify-content: center;
}
.myPoke {
  height: 46.5vh;
  width: 24vw;
/*   border: 4px solid purple;  */
}
.enemyPokeName{
	height: 5vh;
	width: 22vw;
/* 	border: 3px solid black;  */
	color: black;
	text-align: center;
	font-size: 40pt;
	letter-spacing: 30px;
	font-family: "DungGeunMo";
}
.myPoke-Up {
  height: 11.5vh;
  width: 24vw;
/*   border: 3px solid pink;   */
}
#enemyPokeHp{
width: 22vw;
/*  border: 3px solid purple; */  
}
.myPoke-Down {
  height: 30vh;
  width: 22vw;
  position: relative;
/*   	border: 3px solid red; */
/*   border: 3px solid black;  */
}
#trainerImg{
	margin-top: 70px;
	margin-left: 30px;
	width: 72%;
	position: absolute;
	bottom: 0;
}
.enemyPoke {
  height: 46.5vh;
  width: 27vw;
}
.enemyPoke-Up {
  height: 30vh;
  width: 24.5vw;
  position: relative;
}
.enemyPoke-Down {
  height: 16.5vh;
  width: 24.5vw;
  position: relative;
/*   border: 5px solid black; */
}
#myPokeHp{
	width: 24.5vw;
	position: absolute;
	bottom: 0;
	right: 0;
}
#imgshaddow{
	width: 65%;
	filter: brightness(0%);
	position: absolute;
	top: 0;
	right: 10px;
}
