@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.quiz-Container {
  height: 540.3645629882812px;
  width: 1094.13818359375px;
  left: 424px;
  top: 290.9999694824219px;
  border-radius: 50px;
  /* border: 3px solid black; */
}
.quiz-Center {
  height: 538.6261596679688px;
  width: 740px;
  margin-left: 175px;
  left: 601px;
  top: 291px;
  /* border: 1px solid red; */
}
.center-Up {
  width: 730px;
  height: 350px;
  /* border: 3px solid rgb(120, 120, 38); */
  display: flex;
  border: 2px solid black;
  border-bottom: none;
}

.cetner-Down {
  width: 740px;
  height: 178px;
  /* border: 3px solid rgb(120, 120, 38); */
  display: flex;
}

.blank-Space {
  height: 180px;
  width: 340px;
  border: 2px solid black;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.blank-SpaceIn {
  height: 160px;
  width: 320px;
  border-top: 5px solid black;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-radius: 5%;
}

.btn-Four {
  height: 180px;
  width: 390px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.btn-Four-In {
  height: 160px;
  width: 370px;
  border-top: 5px solid black;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 23pt;
  font-family: "DungGeunMo";
  border-radius: 5%;
}
.fightPokemon {
  height: 160px;
  width: 185px;
  /* border: 3px solid black; */
}

.itemQuit {
  height: 160px;
  width: 185px;
  /* border: 3px solid red; */
}
.fight-Btn {
  height: 80px;
  width: 185px;
  /* border: 3px solid skyblue; */
}
.poke-Btn {
  height: 80px;
  width: 185px;
  /* border: 3px solid skyblue; */
}
.items-Btn {
  height: 80px;
  width: 185px;
  /* border: 3px solid skyblue; */
}
.quit-Btn {
  height: 80px;
  width: 185px;
  /* border: 3px solid skyblue; */
}
.myPoke {
  height: 350px;
  width: 370px;
  /* border: 4px solid purple; */
}
.myPoke-Up {
  height: 175px;
  width: 450px;
  /* border: 3px solid black; */
}
.myPoke-Down {
  height: 175px;
  width: 330px;
  /* border: 3px solid black; */
}
.enemyPoke {
  height: 350px;
  width: 370px;
  /* border: 3px solid rgb(70, 28, 234); */
}
.enemyPoke-Up {
  height: 175px;
  width: 360px;
  /* border: 3px solid black; */
}
.enemyPoke-Down {
  height: 175px;
  width: 350px;
  /* border: 5px solid rgb(239, 21, 21); */
}
