@charset "UTF-8";

@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}


.header {
    height: 200px;
    width: 850px;
}

#imgshaddow {
    filter: brightness(0%);
    width: 500px;
    height: 500px;
}

#gameLogo {
    width: 500px;
}

button {
    background-color: transparent;
    border: none;
    width: 200px;
    font-size: 20pt;
    padding-top: 20px;
}

.hver {
   z-index: -1;
}
button:hover  {
    z-index: 1;
    cursor : pointer;
    transform:scale(1.1);   
}

button {
    font-family: 'Dunggeunmo';
}

.mainDescription {
	height: 600px;
	width : 500px;
	border: 3px solid red;
	text-align: center;
	font-size: 15pt;
}
#follow {
	text-align: center;
}

.nameQuestion {
		text-align: center;
		border: 1px solid red;
		width: 500px; 
		height: 100px;
		font-size: 20pt;
		letter-spacing: 8pt;
}
.hiddenText {
	visibility: hidden;
}